.container {
    max-width: min-content;
    margin: auto;
    padding: 1rem;
    background-color: hsl(0, 0%, 100%);
    
}

.body {
    background-color: hsl(47, 88%, 63%);
}

.border {
    border: 0.5rem solid hsl(0, 0%, 7%);
    border-radius: 1rem;
    box-shadow: 1rem 1rem ;

}

.hover {
    background-color: hsl(47, 88%, 63%);
}